* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.regis {
  background-image: url("/images/background.svg");
  background-size: cover;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col_regis {
  display: flex;
  justify-content: center;
}
.col_text {
  color: #ffffff;
}
.card_regis {
  width: 350px;
  border-radius: 100%;
}
.text_regis {
  font-weight: 700;
  font-size: 30px;
}
.btn_regis {
  background: linear-gradient(to bottom, #0084c5, #29c9ff);
  color: white;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 15px;
}
.form_input {
  border-color: #0084c5 !important;
}
.login_regis {
  color: #0084c5;
  text-decoration: none;
}

@media screen and (max-width: 992px){
  .regis{
    height: auto;
  }
}